# Ignore all files
*.*

# Except
!*.json
!*.js
!*.zip
!*.7z
!*.csv
!*.ain
!*.fnl
!*.ks
!*.tjs
!*.yaml
!Data/*
!*.rb
!.gitignore
!README.md
!game.ini

# Images
!00-2.rpgmvp
!background.rpgmvp
!Background_Company.rpgmvp
!background_Final_Select.rpgmvp
!background_Final_Select1.rpgmvp
!background_Final_Select2.rpgmvp
!background_Final_Select_No.rpgmvp
!background_Final_Select_Yes.rpgmvp
!Background_Hstatus.rpgmvp
!Background_result.rpgmvp
!background_weekend.rpgmvp
!background_weekend_decision.rpgmvp
!C_CtoL.rpgmvp
!C_CtoL1_Kr.rpgmvp
!C_CtoR.rpgmvp
!C_LDown.rpgmvp
!C_LtoC.rpgmvp
!C_LtoC1_Kr.rpgmvp
!C_LUp.rpgmvp
!C_RDown.rpgmvp
!C_RtoC.rpgmvp
!C_RUp.rpgmvp
!event_Schedule0.rpgmvp
!event_Schedule1.rpgmvp
!event_Schedule10.rpgmvp
!event_Schedule11.rpgmvp
!event_Schedule12.rpgmvp
!event_Schedule13.rpgmvp
!event_Schedule14.rpgmvp
!event_Schedule15.rpgmvp
!event_Schedule2.rpgmvp
!event_Schedule3.rpgmvp
!event_Schedule4.rpgmvp
!event_Schedule5.rpgmvp
!event_Schedule6.rpgmvp
!event_Schedule7.rpgmvp
!event_Schedule8.rpgmvp
!event_Schedule9.rpgmvp
!event_select0.rpgmvp
!event_select1.rpgmvp
!event_select10.rpgmvp
!event_select11.rpgmvp
!event_select12.rpgmvp
!event_select13.rpgmvp
!event_select14.rpgmvp
!event_select15.rpgmvp
!event_select2.rpgmvp
!event_select3.rpgmvp
!event_select4.rpgmvp
!event_select5.rpgmvp
!event_select6.rpgmvp
!event_select7.rpgmvp
!event_select8.rpgmvp
!event_select9.rpgmvp
!hstat_chat1-1.rpgmvp
!hstat_chat1-2.rpgmvp
!hstat_chat1-3.rpgmvp
!hstat_chat1-4.rpgmvp
!hstat_chat1-5.rpgmvp
!hstat_chat2-1.rpgmvp
!hstat_chat2-2.rpgmvp
!hstat_chat2-3.rpgmvp
!hstat_chat2-4.rpgmvp
!hstat_chat2.rpgmvp
!hstat_chat3-1.rpgmvp
!hstat_chat3-2.rpgmvp
!hstat_chat3-3.rpgmvp
!hstat_chat3-4.rpgmvp
!hstat_chat3-5.rpgmvp
!hstat_chat3-6.rpgmvp
!hstat_chat4-1.rpgmvp
!hstat_chat4-2.rpgmvp
!hstat_chat4-3.rpgmvp
!hstat_chat4-4.rpgmvp
!hstat_chat4-5.rpgmvp
!hstat_chat5-1.rpgmvp
!hstat_chat5-2.rpgmvp
!hstat_chat5-3.rpgmvp
!hstat_chat5-4.rpgmvp
!Item_Lab_SuccubusPaper.rpgmvp
!Item_News_DeathNews.rpgmvp
!Item_News_MissingNews.rpgmvp
!Item_Secu_FamiliarReport.rpgmvp
!Item_Secu_WaterSystem.rpgmvp
!Item_Sub_FanLatter.rpgmvp
!job_0.rpgmvp
!job_1.rpgmvp
!job_10.rpgmvp
!job_11.rpgmvp
!job_12.rpgmvp
!job_13.rpgmvp
!job_14.rpgmvp
!job_15.rpgmvp
!job_16.rpgmvp
!job_17.rpgmvp
!job_18.rpgmvp
!job_19.rpgmvp
!job_2.rpgmvp
!job_20.rpgmvp
!job_21.rpgmvp
!job_22.rpgmvp
!job_23.rpgmvp
!job_24.rpgmvp
!job_25.rpgmvp
!job_26.rpgmvp
!job_3.rpgmvp
!job_4.rpgmvp
!job_5.rpgmvp
!job_6.rpgmvp
!job_7.rpgmvp
!job_8.rpgmvp
!job_9.rpgmvp
!review_background.rpgmvp
!review_notification.rpgmvp
!Schedule1.rpgmvp
!Schedule2.rpgmvp
!Schedule3.rpgmvp
!Schedule4.rpgmvp
!Schedule5.rpgmvp
!Schedule6.rpgmvp
!ScheduleA1.rpgmvp
!ScheduleA2.rpgmvp
!ScheduleA3.rpgmvp
!ScheduleA4.rpgmvp
!ScheduleA5.rpgmvp
!ScheduleA6.rpgmvp
!ScheduleB1.rpgmvp
!ScheduleB2.rpgmvp
!ScheduleB3.rpgmvp
!ScheduleB4.rpgmvp
!ScheduleB5.rpgmvp
!ScheduleB6.rpgmvp
!ScheduleC1.rpgmvp
!ScheduleC2.rpgmvp
!ScheduleC3.rpgmvp
!ScheduleC4.rpgmvp
!ScheduleFri0.rpgmvp
!ScheduleFri1.rpgmvp
!ScheduleFri2.rpgmvp
!ScheduleFri3.rpgmvp
!ScheduleFriA0.rpgmvp
!ScheduleFriA1.rpgmvp
!ScheduleFriA2.rpgmvp
!ScheduleFriA3.rpgmvp
!ScheduleFriB0.rpgmvp
!ScheduleFriB1.rpgmvp
!ScheduleFriB2.rpgmvp
!ScheduleFriB3.rpgmvp
!ScheduleFriC0.rpgmvp
!ScheduleFriC1.rpgmvp
!ScheduleFriC2.rpgmvp
!ScheduleFriC3.rpgmvp
!ScheduleW0.rpgmvp
!ScheduleW1.rpgmvp
!select1.rpgmvp
!select2.rpgmvp
!select3.rpgmvp
!select4.rpgmvp
!select5.rpgmvp
!select6.rpgmvp
!select7.rpgmvp
!selectF0.rpgmvp
!selectF1.rpgmvp
!selectF2.rpgmvp
!selectF3.rpgmvp
!select_weekend0.rpgmvp
!select_weekend1.rpgmvp
!sexconnect01.rpgmvp
!sexconnect02.rpgmvp
!SkillBackground0.rpgmvp
!SkillBackground1.rpgmvp
!SkillBackground2.rpgmvp
!tail.rpgmvp
!window_ic0.rpgmvp
!window_ic1.rpgmvp
!window_ic2.rpgmvp
!window_ic3.rpgmvp
!window_icA0.rpgmvp
!window_icA1.rpgmvp
!window_icA2.rpgmvp
!window_icA3.rpgmvp
!hstat_keyboard_enter.rpgmvp
!hstat_keyboard_esc.rpgmvp
!mainUI_ItemW.rpgmvp
!job_bc1.rpgmvp